* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins Medium";
  src: url("../fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: "Poppins Bold";
  src: url("../fonts/Poppins-Bold.ttf");
}

body {
  font-family: "Poppins", sans-serif;
  background: #fffffe;
  color: #094067;
}

h4,
h5,
h6,
p {
  color: #5f6c7b;
}

h3 {
  font-size: 22px;
}

#window-title {
  font-size: 16px;
}

.icon-dot {
  font-size: 19px;
  color: #ef4565;
}

.current {
  margin-top: 5px;
}

canvas {
  margin: 0 auto;
  margin-top: 30px;
}

.btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: #3da9fc;
  border: none;
  color: #fffffe;
  height: 45px;
  width: 45px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 50%;
}

.back-btn {
  font-size: 16px;
  color: #3da9fc;
  cursor: pointer;
}

.btn:hover {
  background-color: #29a2ff;
}

.s2-title {
  margin-top: 10px;
}

.tabcontent {
  animation: fadeEffect 0.6s;
}

.tabcontent:not(.active) {
  display: none;
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9px;
  margin-top: 20px;
}

.box {
  height: 100px;
  background-color: #d8eefe;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box-title {
  font-size: 14px;
  color: #094067;
}

.box-subtitle {
  font-family: "Poppins Medium", sans-serif;
  font-size: 16px;
  color: #5f6c7b;
}
