* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins Medium";
  src: url("../fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: "Poppins Bold";
  src: url("../fonts/Poppins-Bold.ttf");
}

body {
  font-family: "Poppins", sans-serif;
  background: #fffffe;
  color: #5f6c7b;
}

h1 {
  font-size: 2rem;
}

p {
  margin-top: 1rem;
  font-size: 0.8rem;
}

#window-title {
  font-size: 16px;
}

.icon-dot {
  font-size: 19px;
  color: #ef4565;
}
